<!-- SUPLEMENTOS -->

<div class="container">

  <div class="row">

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/creatinaRM.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creatina RM</h5>
          <p class="card-text">Creatina XS es un producto de Creatina monohidrato hecho por Ronnie Coleman Signature Series. Es intencionado para crecimiento muscular, aumentar el rendimiento y reducir el dolor post entreno.

            El único ingrediente del producto es creatina monohidrato micronizada (5 g por servicio). La creatina micronizada es más fácil de disolver en liquido por ello es más fácil de digerir y absorber.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 36.50</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/proteinaRM.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proteina RM</h5>
          <p class="card-text">El polvo de proteína de suero XS de Ronnie Coleman ofrece 0.88 oz de proteína de alta calidad por cucharada con solo 0.05 oz de grasa y cero azúcar añadido para ayudarte a desarrollar músculo y lograr tus objetivos corporales.          </p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 50.00</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/clembuterol.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Clembuterol</h5>
          <p class="card-text">Clembuterol extra fuerte es un termogénico conocido con agonistas beta-2; como el Clembuterol ha demostrado estimular directamente las células grasas y acelera el desglose de triglicéridos para formar ácidos grasos libres.
            Su eficacia en esta área hace al Clembuterol muy atractivo, y hoy casi obligatorio como droga de pre-competencia.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 60.00</small></p>
        </div>
      </div>
    </div>


  </div>
</div>
