
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="animate__wobble animate__animated animate__bounce animate__faster">Powerlifting</h1>        
        <p class="animate__fadeInLeft animate__animated">
          El tema que escogi para realizar la tarea es el deporte, Powerlifting.
          <br>En esta pagina se va a detallar algunas cosas importantes sobre el Powerlifting, tanto sus implementos como sus suplementos.
        </p>
        <img src="assets/img/alpofi.png" alt="Bootstrap" width="400" height="400">
    </div>
  </div>
