<!-- IMPLEMENTOS -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/rodillerasSBD.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rodilleras de Powerlifting</h5>
          <p class="card-text">SBD ha desarrollado unas rodilleras con un tejido elástico en cuatro direcciones, un forro antimicrobiano y una longitud más corta. Están pensadas para su uso en halterofilia, pero pueden ser utilizadas en cualquier otro deporte.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 84,99</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/cinturon sbd.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cinturón SBD de Powerlifting</h5>
          <p class="card-text">El cinturón de palanca de 10 mm está fabricado con dos cortes diferentes de piel para permitir que el cinturón conserve el soporte mientras se adapta a su cintura. Con una hebilla de perfil bajo, junto con bordes y esquinas redondeados, para minimizar cualquier obstrucción o incomodidad por el contacto entre el cuerpo y el cinturón.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 259,99</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/muñequeras sbd.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Muñequeras rígidas SBD</h5>
          <p class="card-text">Muñequeras diseñadas para ofrecer el máximo soporte para el entrenamiento de fuerza. Disponibles en 2 modelos y 3 longitudes se adaptan perfectamente a todas las necesidades de sujeción de la muñeca.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 42,49</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/siglet sbd.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Singlet SBD</h5>
          <p class="card-text">Nuevo singlet fabricado con un tejido patentado desarrollado por SBD y tejido exclusivamente en el Reino Unido, combina Meryl®, Lycra® y fibras de poliéster. El producto está fabricado con material resistente, duradero y transpirable, con el peso máximo permitido por la IPF.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 89,99</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/rodillerasINZER.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rodilleras ErgoPro™</h5>
          <p class="card-text">Perfectamente equilibrado para estabilidad, comodidad y SEGURIDAD para competiciones de levantamiento de pesas
            Patentado y diseñado ergonómicamente para adaptarse a tus rodillas y permanecer en su lugar durante una competición o sesión de entrenamiento. Autoajustable.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 135,00</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/cinturonINZER.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Forever Palanca Belt™ 13MM</h5>
          <p class="card-text">Todos los Inzer Forever Belts™ tienen un grosor sólido del cuero exclusivo, selecto y más fino. No se pegan capas a bajo costo para
            darle espesor como otras marcas que pueden soltarse años después. No hay compromisos de calidad en Forever Belt™. Además, un componente exclusivo de 
            cuero reforzado™ integrado magistralmente dentro de su Forever Belt™ mejora el proceso de rodaje y ‘recuerda su forma individual, ya que supera a todos los demás cinturones.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 139,00</small></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="assets/img/singletINZER.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Forever Palanca Belt™ 13MM</h5>
          <p class="card-text">Todos los Inzer Forever Belts™ tienen un grosor sólido del cuero exclusivo, selecto y más fino. No se pegan capas a bajo costo para
            darle espesor como otras marcas que pueden soltarse años después. No hay compromisos de calidad en Forever Belt™. Además, un componente exclusivo de 
            cuero reforzado™ integrado magistralmente dentro de su Forever Belt™ mejora el proceso de rodaje y ‘recuerda su forma individual, ya que supera a todos los demás cinturones.</p>
          <p class="card-text"><small class="text-body-secondary">Precio de venta: 139,00</small></p>
        </div>
      </div>
    </div>


  </div>
</div>
